# OS-specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
.history
.project
.pydevproject
.settings/
.swp

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.inst/
backend/venv/
backend/.pytest_cache/
backend/__pycache__/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id
/build/
/coverage/
frontend_flutter/build/
frontend_flutter/.dart_tool/
backend/frontend/build/
backend/frontend/.dart_tool/

# Misc
*.class
*.log
.svn/
migrate_working_dir/
app.*.symbols
app.*.map.json
